<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <h1>invoicee</h1>
                <a href="{{ url_for('logout.index') }}">ログアウト</a>
            </nav>
        </header>
        <main>
            <h2>トップページ</h2>
        </main>
    </body>
</html>
