<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ログインページ</title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <main>
            <h2>ログインページ</h2>
            <p class="error">{{ error }}</p>
            <form method="POST">
                <input type="text" name="username" value="" placeholder="ユーザー名">
                <input type="password" name="password" value="" placeholder="パスワード">
                <input type="submit" name="submit" value="ログイン">
            </form>
        </main>
    </body>
</html>
